# How to use this code?

1. Make a copy of the code. Make sure you save it in the same folder
2. Save your clients file in the incoming folder
3. Edit the code where necessary. See comment lines before the code to check where you have to change the code

# Choose file to process

In [1]:
# Please enter the name of the file after executing this cell (leave empty for test data)
filename = input('Filename of file in /incoming/ folder: ')
client = input('Client\'s name: ')
client = client if client else 'Test'

Filename of file in /incoming/ folder: herzien-dierenapotheek.csv
Client's name: Dierenapotheek

# Import needed libraries

In [2]:
from datetime import datetime
from pathlib import Path
import helpers  # custom helper functions
import numpy as np
import pandas as pd
import pandas.api.types as ptypes

assert pd.__version__ > '0.24.9'   # Need Pandas version 0.25.0 or higher

# Import file and filter data

In [3]:
# Building the full path to the file
path = Path().absolute().parent  # each '.parent' goes one level up - vary as required
if filename:
    file = f'{path}/incoming/{filename}'
else:
    file = f'{path}/samples/sample-dataset.csv'

# Path for outgoing files
path_outgoing = f'{path}/outgoing/'

print('Processing: ', file)
print('For client: ', client)

Processing:  /Users/chiwang/Google Drive/1. IWB/Python/GitHub/incoming/herzien-dierenapotheek.csv
For client:  Dierenapotheek

In [13]:
# File import
# To do: choose the right columns from the dataset
# for excel: data = pd.read_excel(file) 
# df = pd.DataFrame(data, columns = [''])

df = pd.read_csv(file, sep = None, delimiter = None, 
                 usecols = ['email','Orderdate','OrderID','Revenue','COGS'],
                 parse_dates=['Orderdate'], infer_datetime_format=True, dayfirst=True,
                 engine = 'python', dtype = {'email': str,'OrderID':int,}) #'Revenue':float, 'COGS':float}) 
df.head()

                       email  Orderdate    OrderID Revenue   COGS
0   mirandaverhoeff@ziggo.nl 2018-12-31  247197691   14,45   4,34
1         j.hydra1@chello.nl 2018-12-31  247188831  110,85  33,26
2  arrowsflight123@gmail.com 2018-12-31  247150721  116,85  35,06
3     m.keesmekers@gmail.com 2018-12-31  247147717    6,40   1,92
4       scrabble1@kpnmail.nl 2018-12-31  247145195   51,20  15,36

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9948 entries, 0 to 9947
Data columns (total 5 columns):
email        9804 non-null object
Orderdate    8924 non-null datetime64[ns]
OrderID      9948 non-null int64
Revenue      9948 non-null object
COGS         9948 non-null object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 388.7+ KB

In [15]:
# Delete empty rows'NaT'
# Check email contains @ -> aanpassen als je geen gebruik maakt van email als client id
# Delete duplicates in orderID -> naam aanmpassen naar naam van de kolom 

#df = df.dropna(axis=0, how='any')
#df = df[df['email'].str.contains('@')]
df = df.dropna(subset=['email'])
df = df.drop_duplicates('OrderID', keep='first')
df.head()

                       email  Orderdate    OrderID Revenue   COGS
0   mirandaverhoeff@ziggo.nl 2018-12-31  247197691   14,45   4,34
1         j.hydra1@chello.nl 2018-12-31  247188831  110,85  33,26
2  arrowsflight123@gmail.com 2018-12-31  247150721  116,85  35,06
3     m.keesmekers@gmail.com 2018-12-31  247147717    6,40   1,92
4       scrabble1@kpnmail.nl 2018-12-31  247145195   51,20  15,36

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9804 entries, 0 to 9947
Data columns (total 5 columns):
email        9804 non-null object
Orderdate    8780 non-null datetime64[ns]
OrderID      9804 non-null int64
Revenue      9804 non-null object
COGS         9804 non-null object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 459.6+ KB

In [17]:
df.describe()

            OrderID
count  9.804000e+03
mean   2.164266e+08
std    1.589219e+07
min    1.885974e+08
25%    2.027434e+08
50%    2.165292e+08
75%    2.291189e+08
max    2.471977e+08

In [18]:
# Filtering the data (these rules are specific for Maxilia -> delete if not necessary or change to needed values)
# Leadphase = order
# Leadstatus = gefactureerd
#df = df[df['LeadPhase'].str.contains('Order')]
#df = df[df['LeadStatus'].str.contains('Gefactureerd')]
#df.head()

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9804 entries, 0 to 9947
Data columns (total 5 columns):
email        9804 non-null object
Orderdate    8780 non-null datetime64[ns]
OrderID      9804 non-null int64
Revenue      9804 non-null object
COGS         9804 non-null object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 459.6+ KB

In [20]:
# Check if the data equals certain conditions
assert ptypes.is_datetime64_any_dtype(df['Orderdate'])
assert df['email'].str.contains('@').all()
#assert df['LeadPhase'].eq('Order').all()
#assert df['LeadStatus'].eq('Gefactureerd').all()

# Group data per customer

In [23]:
# Here the data is being grouped by email. 
# To do: change the variables into the right column names of the data set

# The first and last transaction are taken to calculate how many days someone is a customer
# The number of orders (how many OrderID's per customer) per customer is calculated
# The sum of all spend is calculated

df_clv = df.groupby('email').agg(
    first_transaction=('Orderdate', min),
    last_transaction=('Orderdate', max),
    total_transactions=('OrderID', len), 
    total_spent=('Revenue', sum)
) 
df_clv['days_customer'] = (df_clv['last_transaction'] - df_clv['first_transaction']).dt.days
df_clv.drop(['first_transaction', 'last_transaction'], axis=1, inplace=True)
df_clv.head()

                        total_transactions  total_spent  days_customer
email
040dave@gmail.com                        1        12,95            0.0
045043@kpnmail.nl                        1        46,90            0.0
1.annemie@telenet.be                     2  87,95339,65            1.0
123karineric@casema.nl                   1        15,25            0.0
133850ron@gmail.com                      1        41,20            0.0

In [24]:
df_clv.columns = ['days_customer', 'total_transactions', 'total_spent']
df_clv.head()

                        days_customer total_transactions  total_spent
email
040dave@gmail.com                   1              12,95          0.0
045043@kpnmail.nl                   1              46,90          0.0
1.annemie@telenet.be                2        87,95339,65          1.0
123karineric@casema.nl              1              15,25          0.0
133850ron@gmail.com                 1              41,20          0.0

In [25]:
df_clv.describe()

       days_customer  total_spent
count    7081.000000  6905.000000
mean        1.384550    17.602317
std         1.020266    51.784164
min         1.000000     0.000000
25%         1.000000     0.000000
50%         1.000000     0.000000
75%         1.000000     0.000000
max        20.000000   305.000000

In [26]:
# Export to file
# df_clv.to_excel(f'{path_outgoing}{client} - Overzicht_per_klant.xlsx')
df_clv.to_csv(f'{path_outgoing}{client} - Overzicht_per_klant.csv')

# Calculating the total CLV

In [27]:
# Initiate a dictionary that holds all calculated values
calculated = {}

In [28]:
# Calculate the average order value

avg_order_value = sum(df_clv['total_spent']) / sum(df_clv['total_transactions'])
calculated['Gemiddelde orderwaarde'] = avg_order_value
print(avg_order_value)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Calculate how often someone buys from the company

purchase_frequency = sum(df_clv['total_transactions']) / df_clv.shape[0]
calculated['Frequentie aankoop'] = purchase_frequency
print(purchase_frequency)

In [ ]:
# Calculate how often someone returns
# Output * 100 is the rate in %

repeat_rate = df_clv[df_clv.total_transactions > 1].shape[0] / df_clv.shape[0] 
calculated['Repeat rate'] = repeat_rate
print(repeat_rate)

In [ ]:
# Calculate the churnrate: what % doesn't return after 1 order

churn_rate = 1 - repeat_rate
calculated['Churn rate'] = churn_rate
print(churn_rate)

In [ ]:
# Calculating the average margin of the dataset
# To do: choose the right columns from the dataset

profit = sum(df['TurnoverLead']) - sum(df['BuyinLead'])
calculated['Profit'] = profit
margin = profit / sum(df['TurnoverLead'])
calculated['Margin'] = margin
absolut_margin = profit * margin
calculated['Absolut margin'] = absolut_margin
    
print(profit)    
print(margin)
print(absolut_margin)

In [ ]:
# Calculating the total CLV and the CLV with margin
# If you cannot calculate the margin (as is done in the above cell) you can change margin into the margin number that the company provides you with

total_clv = (avg_order_value * purchase_frequency) / churn_rate 
calculated['CLV'] = total_clv
total_clv_margin = total_clv * margin
calculated['CLV marge'] = total_clv_margin

print(total_clv) # het eerste getal is de totale clv
print(total_clv_margin) # het tweede getal is de clv waarbij rekening is gehouden met de berekende marge

In [ ]:
# In this cell the above numbers are set into a dataset (which is necessary to use them in datastudio)
df_clv_values = pd.DataFrame([calculated], index=['Waarde'])
df_clv_values.head()

In [ ]:
# Export to CSV file
df_clv_values.to_csv(f'{path_outgoing}{client} - CLV_waardes.csv')
# Export to Excel-file use:
# df_clv_values.to_excel(f'{path_outgoing}{client} - CLV_waardes.xlsx')

   # Churn rate per month

In [ ]:
# Grouping data per month to calculate the churn rate per month
df_monthly = df.pivot_table(
    index=['email'],
    columns=pd.Grouper(key='Orderdate', freq='M'),
    values='OrderID', 
    aggfunc='count',
    fill_value=0
)

df_monthly.head()

In [ ]:
repeat_rate = df_monthly[df_monthly > 1].count() / df_monthly[df_monthly > 0].count()
df_churn = repeat_rate.to_frame(name='repeat_rate')

In [ ]:
df_churn['churn_rate'] = 1 - df_churn['repeat_rate']
df_churn.head()

# Churn per 6 months and per year

In [ ]:
# Grouping data per 6 months to calculate the churn rate per 6 months
df_6_months = df.pivot_table(
    index=['email'],
    columns=pd.Grouper(key='Orderdate', freq='6M'),
    values='OrderID', 
    aggfunc='count',
    fill_value=0
)

df_6_months.head()

In [ ]:
repeat_rate = df_6_months[df_6_months > 1].count() / df_6_months[df_6_months > 0].count()
df_churn_6_months = repeat_rate.to_frame(name='repeat_rate_6_months')

In [ ]:
df_churn_6_months['churn_rate_6_months'] = 1 - df_churn_6_months['repeat_rate_6_months']
df_churn_6_months

In [ ]:
# Grouping the data per year to calculate the churn rate per year
df_year = df.pivot_table(
    index=['email'],
    columns=pd.Grouper(key='Orderdate', freq='Y'),
    values='OrderID', 
    aggfunc='count',
    fill_value=0
)

df_year.head()

In [ ]:
repeat_rate = df_year[df_year > 1].count() / df_year[df_year > 0].count()
df_churn_year = repeat_rate.to_frame(name='repeat_rate_year')

In [ ]:
df_churn_year['churn_rate_year'] = 1 - df_churn_year['repeat_rate_year']
df_churn_year

# Transactions, spend and unique customers per month

In [ ]:
# Grouping total transactions, turnover and unique clients per month

df_transacties = df.groupby(pd.Grouper(key='Orderdate', freq='M')).agg(
    {
        'OrderID': len, 
        'TurnoverLead': sum,
        'email': pd.Series.nunique
    }
)

df_transacties.head()

In [ ]:
df_transacties.info()

In [ ]:
# Renaming the columns
df_transacties.columns = ['total_transactions', 'total_spent', 'total_unique_customers']
df_transacties.head(5)

In [ ]:
df_transacties.describe()

In [ ]:
# Export to file
# df_transacties.to_excel(f'{path_outgoing}{client} - Overzicht_per_maand.xlsx')
df_transacties.to_csv(f'{path_outgoing}{client} - Overzicht_per_maand.csv')

# Calculate CLV per month with churn per month

In [ ]:
# Calculating the CLV per month
df_transacties['purchase_frequency_month'] = df_transacties['total_transactions'] / df_transacties['total_unique_customers']
df_transacties['avg_order_value_month'] = df_transacties['total_spent'] / df_transacties['total_transactions'] 
df_transacties['CLV'] = (df_transacties['avg_order_value_month'] * df_transacties['purchase_frequency_month']) / df_churn['churn_rate']
df_transacties['CLV_margin'] = df_transacties['CLV'] * margin
df_transacties.head()

In [ ]:
# New dataset to calculate the aggregated average CLV
# Drop empty columns
# Add index column to calculate the aggregated average CLV
df_clv_cum= df_transacties[['CLV', 'CLV_margin']].copy()
df_clv_cum.dropna(inplace=True)
df_clv_cum['Index'] = np.arange(1, len(df_clv_cum) + 1)
df_clv_cum['CLV_AVG'] = df_clv_cum['CLV'].cumsum().div(df_clv_cum['Index'])
df_clv_cum['CLV_margin_AVG'] = df_clv_cum['CLV_margin'].cumsum().div(df_clv_cum['Index'])
df_clv_cum.head()

# Calculate CLV per month with churn per 6 months

In [ ]:
# Code used to find the churn that connects to the right months
def find_churn_rate_6_months(date):
    """
    Iterate through the 'df_churn_6_months' dataframe.
    When the date is smaller than the date on the index, 
    return the corresponding churn rate 
    Eg: July < Oct, so return October's churn rate
    """
    for m in df_churn_6_months['churn_rate_6_months'].iteritems():
        if date <= m[0]:
            return m[1]
        
def find_churn_rate_1_year(date):
    """
    Iterate through the 'df_churn_year' dataframe.
    When the date is smaller than the year on the index, 
    return the corresponding churn rate 
    """
    for y in df_churn_year['churn_rate_year'].iteritems():
        if date <= y[0]:
            return y[1]

In [ ]:
# Calculate CLV with Churn per 6 months
# First line of code is used to find the right churn for the corresponding months
df_transacties['churn_rate_6_months'] = df_transacties.index.to_series().apply(lambda x: find_churn_rate_6_months(x))
df_transacties['CLV_churn_6M'] = (df_transacties['avg_order_value_month'] * df_transacties['purchase_frequency_month']) / df_transacties['churn_rate_6_months']
df_transacties['CLV_margin_churn_6M'] = df_transacties['CLV_churn_6M'] * margin
df_transacties.head(10)

# Calculate CLV per month with churn per year

In [ ]:
# Calculate CLV with churn per year
df_transacties['churn_rate_1_year'] = df_transacties.index.to_series().apply(lambda x: find_churn_rate_1_year(x))
df_transacties['CLV_churn_Y'] = (df_transacties['avg_order_value_month'] * df_transacties['purchase_frequency_month']) / df_transacties['churn_rate_1_year']
df_transacties['CLV_margin_churn_Y'] = df_transacties['CLV_churn_Y'] * margin
df_transacties.head(10)

# Aggregated average CLV

In [ ]:
# Calculate aggregated average CLV with churn of 6 months and add to dataset
df_clv_cum_6M = df_transacties[['CLV_churn_6M', 'CLV_margin_churn_6M']].copy()
df_clv_cum_6M.dropna(inplace=True)
df_clv_cum['CLV_AVG_6M'] = df_clv_cum_6M['CLV_churn_6M'].cumsum().div(df_clv_cum['Index'])
df_clv_cum['CLV_margin_AVG_6M'] = df_clv_cum_6M['CLV_margin_churn_6M'].cumsum().div(df_clv_cum['Index'])
df_clv_cum.head()

In [ ]:
# Calculate aggregated average CLV with churn of a year and add to dataset
df_clv_cum_Y = df_transacties[['CLV_churn_Y', 'CLV_margin_churn_Y']].copy()
df_clv_cum_Y.dropna(inplace=True)
df_clv_cum['CLV_AVG_Y'] = df_clv_cum_Y['CLV_churn_Y'].cumsum().div(df_clv_cum['Index'])
df_clv_cum['CLV_margin_AVG_Y'] = df_clv_cum_Y['CLV_margin_churn_Y'].cumsum().div(df_clv_cum['Index'])
df_clv_cum.head()

In [ ]:
# Keep dataset with all the values
# CLV_AVG is churn calculated per month, 6M churn is churn over 6 months, Y is churn calculated over a year
df_clv_avg = df_clv_cum[['CLV_AVG', 'CLV_margin_AVG', 'CLV_AVG_6M', 'CLV_margin_AVG_6M', 'CLV_AVG_Y', 'CLV_margin_AVG_Y']].copy()
df_clv_avg.head(10)

In [ ]:
# Export to file
# df_clv_avg.to_excel(f'{path_outgoing}{client} - Gemiddeldes CLV per maand.xlsx')
df_clv_avg.to_csv(f'{path_outgoing}{client} - Gemiddeldes CLV per maand.csv')