# Benodigde libraries importeren

In [156]:
import pandas as pd
from datetime import datetime
import numpy as np
import pandas.api.types as ptypes

# Bestand inladen en data filteren

In [157]:
# excel bestand maxilia geimporteerd en kolommen gefilterd 

df = pd.read_csv('expdata 20190912 1002.csv', sep = None, delimiter = None, usecols = ['email','Orderdate','OrderID','TurnoverLead', 'BuyinLead', 'LeadPhase','LeadStatus'], engine = 'python') 
df.head()

,OrderID,Orderdate,email,TurnoverLead,BuyinLead,LeadPhase,LeadStatus
0,27654,22-4-2014,janneke.van.wingerden@hotmail.com,840.0,0.0,Order,Gefactureerd
1,30777,9-4-2015,marloessanders@izit.nl,300.0,0.0,Order,Gefactureerd
2,32291,30-7-2014,info@ferox-design.com,235.0,0.0,Order,Gefactureerd
3,32291,30-7-2014,info@ferox-design.com,235.0,0.0,Order,Gefactureerd
4,33824,27-5-2016,johan@thermservice.be,0.0,0.0,Order,Gefactureerd

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273322 entries, 0 to 273321
Data columns (total 7 columns):
OrderID         273322 non-null int64
Orderdate       131183 non-null object
email           272921 non-null object
TurnoverLead    273322 non-null float64
BuyinLead       273322 non-null float64
LeadPhase       273322 non-null object
LeadStatus      271268 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 14.6+ MB

In [159]:
# lege rijen 'NaT' eruit gefilterd 
# Email bevat @ controle
# Duplicaten verwijderen

df = df.dropna(axis=0, how = 'any', inplace=False)
df = df[~df['email'].str.contains('@')==False]
df = df.drop_duplicates('OrderID', keep='first')
df.head()

,OrderID,Orderdate,email,TurnoverLead,BuyinLead,LeadPhase,LeadStatus
0,27654,22-4-2014,janneke.van.wingerden@hotmail.com,840.0,0.0,Order,Gefactureerd
1,30777,9-4-2015,marloessanders@izit.nl,300.0,0.0,Order,Gefactureerd
2,32291,30-7-2014,info@ferox-design.com,235.0,0.0,Order,Gefactureerd
4,33824,27-5-2016,johan@thermservice.be,0.0,0.0,Order,Gefactureerd
5,34406,4-2-2015,miranda@dynadental.com,1185.0,0.0,Order,Gefactureerd

In [160]:
df['Orderdate']=pd.to_datetime(df['Orderdate'], format='%d-%m-%Y')

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106583 entries, 0 to 273321
Data columns (total 7 columns):
OrderID         106583 non-null int64
Orderdate       106583 non-null datetime64[ns]
email           106583 non-null object
TurnoverLead    106583 non-null float64
BuyinLead       106583 non-null float64
LeadPhase       106583 non-null object
LeadStatus      106583 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.5+ MB

In [162]:
df.describe()

             OrderID   TurnoverLead     BuyinLead
count  106583.000000  106583.000000  106583.00000
mean   147886.233912     611.979496     360.30912
std     61013.462495    1391.539161    1031.11294
min     27654.000000    -392.000000   -1001.51000
25%     94114.000000     167.000000      34.50000
50%    148056.000000     300.400000     151.50000
75%    201786.500000     610.000000     358.47000
max    252808.000000  174519.500000  141338.84000

In [163]:
# Leadphase = order
# Leadstatus = gefactureerd
df = df[~df['LeadPhase'].str.contains('Order')==False]
df = df[~df['LeadStatus'].str.contains('Gefactureerd')==False]
df.head()

,OrderID,Orderdate,email,TurnoverLead,BuyinLead,LeadPhase,LeadStatus
0,27654,2014-04-22,janneke.van.wingerden@hotmail.com,840.0,0.0,Order,Gefactureerd
1,30777,2015-04-09,marloessanders@izit.nl,300.0,0.0,Order,Gefactureerd
2,32291,2014-07-30,info@ferox-design.com,235.0,0.0,Order,Gefactureerd
4,33824,2016-05-27,johan@thermservice.be,0.0,0.0,Order,Gefactureerd
5,34406,2015-02-04,miranda@dynadental.com,1185.0,0.0,Order,Gefactureerd

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97825 entries, 0 to 272752
Data columns (total 7 columns):
OrderID         97825 non-null int64
Orderdate       97825 non-null datetime64[ns]
email           97825 non-null object
TurnoverLead    97825 non-null float64
BuyinLead       97825 non-null float64
LeadPhase       97825 non-null object
LeadStatus      97825 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [165]:
# Check data bevat voldoet aan bepaalde condities
assert ptypes.is_datetime64_any_dtype(df['Orderdate'])
assert df['email'].str.contains('@').all()
assert df['LeadPhase'].eq('Order').all()
assert df['LeadStatus'].eq('Gefactureerd').all()

# Data grouperen per klant

In [166]:
# group by customer ID
# hoeveel orders zijn er gedaan per customer
# totale uitgaven per customer 

df_clv = df.groupby('email').agg({
                                                        'Orderdate': lambda date: (date.max() - date.min()).days,
                                                        'OrderID': lambda num: len(num), 
                                                        'TurnoverLead': lambda price: price.sum()
                                                    }) 
df_clv.head()

,Orderdate,OrderID,TurnoverLead
email,,,
03vichy@gmail.com,0,1,259.0
06alexisbrunet@gmail.com,0,1,180.0
070paulus070@gmail.com,0,1,33.5
1.NLD.MINUSMA.GAO.AHDET.COGP.S1@B-SC1.TTN.MINDEF.NL,0,1,1230.5
1.vorsitzende.gv.muenster@gmail.com,0,1,344.5

In [167]:
# rename kolommen 

df_clv.columns = ['days_customer', 'total_transactions', 'total_spent']
df_clv.head()

,days_customer,total_transactions,total_spent
email,,,
03vichy@gmail.com,0,1,259.0
06alexisbrunet@gmail.com,0,1,180.0
070paulus070@gmail.com,0,1,33.5
1.NLD.MINUSMA.GAO.AHDET.COGP.S1@B-SC1.TTN.MINDEF.NL,0,1,1230.5
1.vorsitzende.gv.muenster@gmail.com,0,1,344.5

In [168]:
df_clv.describe()

       days_customer  total_transactions    total_spent
count   67777.000000        67777.000000   67777.000000
mean       76.580684            1.443336     886.926759
std       225.263499            1.724549    2695.224340
min         0.000000            1.000000    -392.000000
25%         0.000000            1.000000     173.000000
50%         0.000000            1.000000     332.000000
75%         0.000000            1.000000     757.600000
max      1686.000000          112.000000  167285.400000

# Berekenen van de totale CLV

In [169]:
# gemiddelde order waarde 

avg_order_value = sum(df_clv['total_spent']) / sum(df_clv['total_transactions'])
print(avg_order_value)

614.4976738052648

In [170]:
# hoe vaak koopt iemand gemiddeld iets

purchase_frequency = sum(df_clv['total_transactions']) / df_clv.shape[0]
print(purchase_frequency)

1.4433362350059755

In [171]:
# hoe vaak komt iemand terug

repeat_rate = df_clv[df_clv.total_transactions > 1].shape[0] / df_clv.shape[0] 
print(repeat_rate)

0.20118919397435708

In [172]:
# churnrate: hoeveel % doet na 1 aankoop geen bestelling meer

churn_rate = 1 - repeat_rate
print(churn_rate)

0.7988108060256429

In [173]:
# gemiddelde marge  

profit = sum(df['TurnoverLead']) - sum(df['BuyinLead'])
margin = profit / sum(df['TurnoverLead'])
    
print(margin)

0.4098393753820391

In [174]:
# totale clv & clv marge 
# in het blok hierboven is de marge berekend ('margin'), maar je kan ook een getal noteren ipv 'margin'

total_clv = (avg_order_value * purchase_frequency) / churn_rate 
total_clv_margin = total_clv * margin

print(total_clv) # het eerste getal is de totale clv
print(total_clv_margin) # het tweede getal is de clv waarbij rekening is gehouden met de berekende marge

1110.3089145010256
455.04831200021016

In [175]:
# Bovenstaande cijfers in kolom neerzetten zodat de data in datastudio kan worden gebruikt
set_total_clv = avg_order_value, purchase_frequency, churn_rate, total_clv, total_clv_margin 
df_total_clv = pd.DataFrame(set_total_clv, columns= ['Waarde'], index = ['Gemiddelde orderwaarde' , 'Frequentie aankoop', 'Churn rate' , 'CLV', 'CLV marge'])
df_clv_values=df_total_clv.T.groupby(level=0).agg(lambda x : x.values.tolist()).stack().apply(pd.Series).unstack().sort_index(level=1,axis=1)
df_clv_values.columns=df_clv_values.columns.droplevel(level=0)
df_clv_values.head()

,CLV,CLV marge,Churn rate,Frequentie aankoop,Gemiddelde orderwaarde
Waarde,1110.308915,455.048312,0.798811,1.443336,614.497674

In [176]:
df_clv_values.to_excel('CLV_waardes.xlsx')

   # Transacties en churn rate per maand uiteenzetten

In [177]:
# transacties per klant per maand uiteenzetten
df_month = df.set_index('Orderdate')
df_monthly = df_month.pivot_table(
    index=['email'],
    columns=pd.Grouper(freq='M'),
    values='OrderID', 
    aggfunc='count',
    fill_value=0
)

df_monthly.head()

Orderdate,2014-04-30 00:00:00,2014-07-31 00:00:00,2014-09-30 00:00:00,2014-10-31 00:00:00,2014-11-30 00:00:00,2014-12-31 00:00:00,2015-01-31 00:00:00,2015-02-28 00:00:00,2015-03-31 00:00:00,2015-04-30 00:00:00,...,2018-12-31 00:00:00,2019-01-31 00:00:00,2019-02-28 00:00:00,2019-03-31 00:00:00,2019-04-30 00:00:00,2019-05-31 00:00:00,2019-06-30 00:00:00,2019-07-31 00:00:00,2019-08-31 00:00:00,2019-09-30 00:00:00
email,,,,,,,,,,,,,,,,,,,,,
03vichy@gmail.com,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
06alexisbrunet@gmail.com,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
070paulus070@gmail.com,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1.NLD.MINUSMA.GAO.AHDET.COGP.S1@B-SC1.TTN.MINDEF.NL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1.vorsitzende.gv.muenster@gmail.com,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [178]:
repeat_rate = df_monthly[df_monthly > 1].count() / df_monthly[df_monthly > 0].count()
df_churn = repeat_rate.to_frame(name='repeat_rate')

In [179]:
df_churn['churn_rate'] = 1 - df_churn['repeat_rate']
df_churn.head()

            repeat_rate  churn_rate
Orderdate
2014-04-30          0.0         1.0
2014-07-31          0.0         1.0
2014-09-30          0.0         1.0
2014-10-31          0.0         1.0
2014-11-30          0.0         1.0

# Churn per 6 maanden en per jaar

In [180]:
# Churn per 6 maanden
df_6_months = df_month.pivot_table(
    index=['email'],
    columns=pd.Grouper(freq='6M'),
    values='OrderID', 
    aggfunc='count',
    fill_value=0
)

df_6_months.head()

Orderdate,2014-04-30 00:00:00,2014-10-31 00:00:00,2015-04-30 00:00:00,2015-10-31 00:00:00,2016-04-30 00:00:00,2016-10-31 00:00:00,2017-04-30 00:00:00,2017-10-31 00:00:00,2018-04-30 00:00:00,2018-10-31 00:00:00,2019-04-30 00:00:00,2019-10-31 00:00:00
email,,,,,,,,,,,,
03vichy@gmail.com,0,0,0,0,0,0,0,0,0,0,1,0
06alexisbrunet@gmail.com,0,0,0,0,0,0,0,0,1,0,0,0
070paulus070@gmail.com,0,0,0,0,0,0,0,0,0,0,0,1
1.NLD.MINUSMA.GAO.AHDET.COGP.S1@B-SC1.TTN.MINDEF.NL,0,0,0,0,0,1,0,0,0,0,0,0
1.vorsitzende.gv.muenster@gmail.com,0,0,0,0,0,0,0,0,0,1,0,0

In [181]:
repeat_rate = df_6_months[df_6_months > 1].count() / df_6_months[df_6_months > 0].count()
df_churn_6_months = repeat_rate.to_frame(name='repeat_rate_6_months')

In [182]:
df_churn_6_months['churn_rate_6_months'] = 1 - df_churn_6_months['repeat_rate_6_months']
df_churn_6_months

            repeat_rate_6_months  churn_rate_6_months
Orderdate
2014-04-30              0.000000             1.000000
2014-10-31              0.000000             1.000000
2015-04-30              0.063094             0.936906
2015-10-31              0.086375             0.913625
2016-04-30              0.090199             0.909801
2016-10-31              0.102916             0.897084
2017-04-30              0.110682             0.889318
2017-10-31              0.124986             0.875014
2018-04-30              0.110779             0.889221
2018-10-31              0.117209             0.882791
2019-04-30              0.119767             0.880233
2019-10-31              0.099032             0.900968

In [183]:
# Churn per jaar
df_year = df_month.pivot_table(
    index=['email'],
    columns=pd.Grouper(freq='Y'),
    values='OrderID', 
    aggfunc='count',
    fill_value=0
)

df_year.head()

Orderdate,2014-12-31 00:00:00,2015-12-31 00:00:00,2016-12-31 00:00:00,2017-12-31 00:00:00,2018-12-31 00:00:00,2019-12-31 00:00:00
email,,,,,,
03vichy@gmail.com,0,0,0,0,1,0
06alexisbrunet@gmail.com,0,0,0,0,1,0
070paulus070@gmail.com,0,0,0,0,0,1
1.NLD.MINUSMA.GAO.AHDET.COGP.S1@B-SC1.TTN.MINDEF.NL,0,0,1,0,0,0
1.vorsitzende.gv.muenster@gmail.com,0,0,0,0,1,0

In [184]:
repeat_rate = df_year[df_year > 1].count() / df_year[df_year > 0].count()
df_churn_year = repeat_rate.to_frame(name='repeat_rate_year')

In [185]:
df_churn_year['churn_rate_year'] = 1 - df_churn_year['repeat_rate_year']
df_churn_year

            repeat_rate_year  churn_rate_year
Orderdate
2014-12-31          0.000000         1.000000
2015-12-31          0.114538         0.885462
2016-12-31          0.130083         0.869917
2017-12-31          0.151944         0.848056
2018-12-31          0.148535         0.851465
2019-12-31          0.131676         0.868324

# CLV per klant uitrekenen

In [186]:
# clv per customer

df_clv['customer_order_value'] = df_clv['total_spent'] / df_clv['total_transactions']
df_clv['customer_clv'] = (df_clv['customer_order_value'] * purchase_frequency) / churn_rate
df_clv['customer_clv_margin'] = df_clv['customer_clv'] * margin

df_clv.head()

,days_customer,total_transactions,total_spent,customer_order_value,customer_clv,customer_clv_margin
email,,,,,,
03vichy@gmail.com,0,1,259.0,259.0,467.975749,191.794888
06alexisbrunet@gmail.com,0,1,180.0,180.0,325.234111,133.293745
070paulus070@gmail.com,0,1,33.5,33.5,60.529682,24.807447
1.NLD.MINUSMA.GAO.AHDET.COGP.S1@B-SC1.TTN.MINDEF.NL,0,1,1230.5,1230.5,2223.336519,911.210850
1.vorsitzende.gv.muenster@gmail.com,0,1,344.5,344.5,622.461951,255.109417

In [187]:
df_clv.describe()

,days_customer,total_transactions,total_spent,customer_order_value,customer_clv,customer_clv_margin
count,67777.000000,67777.000000,67777.000000,67777.000000,67777.000000,67777.000000
mean,76.580684,1.443336,886.926759,537.520097,971.221505,398.044815
std,225.263499,1.724549,2695.224340,1009.096235,1823.291760,747.256756
min,0.000000,1.000000,-392.000000,-392.000000,-708.287619,-290.284156
25%,0.000000,1.000000,173.000000,162.890000,294.318802,120.623434
50%,0.000000,1.000000,332.000000,290.000000,523.988290,214.751033
75%,0.000000,1.000000,757.600000,567.600000,1025.571563,420.319609
max,1686.000000,112.000000,167285.400000,61600.000000,111302.340186,45616.081580

In [188]:
df_clv.to_excel('CLV_per_klant.xlsx')

In [189]:
# set orderdate als index
df.set_index('Orderdate', inplace=True)

In [190]:
#totale transacties / opbrengst per maand

df_transacties = df.groupby(pd.Grouper(freq='M')).agg(
    {
        'OrderID': len, 
        'TurnoverLead': sum,
        'email': pd.Series.nunique
    }
)

df_transacties.head()

            OrderID  TurnoverLead  email
Orderdate
2014-04-30        1         840.0      1
2014-05-31        0           0.0      0
2014-06-30        0           0.0      0
2014-07-31        1         235.0      1
2014-08-31        0           0.0      0

In [191]:
df_transacties.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 66 entries, 2014-04-30 to 2019-09-30
Freq: M
Data columns (total 3 columns):
OrderID         66 non-null int64
TurnoverLead    66 non-null float64
email           66 non-null int64
dtypes: float64(1), int64(2)
memory usage: 4.6 KB

In [192]:
df_transacties.columns = ['total_transactions', 'total_spent', 'total_unique_customers']
df_transacties.head(5)

            total_transactions  total_spent  total_unique_customers
Orderdate
2014-04-30                   1        840.0                       1
2014-05-31                   0          0.0                       0
2014-06-30                   0          0.0                       0
2014-07-31                   1        235.0                       1
2014-08-31                   0          0.0                       0

In [193]:
df_transacties.describe()

       total_transactions   total_spent  total_unique_customers
count           66.000000  6.600000e+01               66.000000
mean          1482.196970  9.108066e+05             1393.166667
std            922.956741  5.712635e+05              856.845980
min              0.000000  0.000000e+00                0.000000
25%            897.250000  4.805995e+05              871.250000
50%           1395.500000  9.146664e+05             1314.500000
75%           2106.250000  1.291857e+06             1955.750000
max           3810.000000  2.391474e+06             3538.000000

In [194]:
df_transacties.to_excel('Overzicht_per_maand.xlsx')

# CLV per maand berekenen met churn per maand

In [195]:
# CLV per maand berekenen
# margin is nu over gehele dataset, kunt deze ook nog per maand uitrekenen
df_transacties['purchase_frequency_month'] = df_transacties['total_transactions'] / df_transacties['total_unique_customers']
df_transacties['avg_order_value_month'] = df_transacties['total_spent'] / df_transacties['total_transactions'] 
df_transacties['CLV'] = (df_transacties['avg_order_value_month'] * df_transacties['purchase_frequency_month']) / df_churn['churn_rate']
df_transacties['CLV_margin'] = df_transacties['CLV'] * margin
df_transacties.head()

,total_transactions,total_spent,total_unique_customers,purchase_frequency_month,avg_order_value_month,CLV,CLV_margin
Orderdate,,,,,,,
2014-04-30,1,840.0,1,1.0,840.0,840.0,344.265075
2014-05-31,0,0.0,0,NaN,NaN,NaN,NaN
2014-06-30,0,0.0,0,NaN,NaN,NaN,NaN
2014-07-31,1,235.0,1,1.0,235.0,235.0,96.312253
2014-08-31,0,0.0,0,NaN,NaN,NaN,NaN

In [196]:
# New dataframe to calculate CLV averages. Needs "index" & "number of months" helper columns
# Even if some rows ("months") are missing, "number of months" is still correct
# Because it looks at the dates, not the index locations. 
df_clv_cum = df_transacties[['CLV', 'CLV_margin']].copy()
df_clv_cum.dropna(inplace=True)
df_clv_cum['Index'] = np.arange(1, len(df_clv_cum) + 1)
df_clv_cum['CLV_AVG'] = df_clv_cum['CLV'].cumsum().div(df_clv_cum['Index'])
df_clv_cum['CLV_margin_AVG'] = df_clv_cum['CLV_margin'].cumsum().div(df_clv_cum['Index'])
df_clv_cum.head()

                   CLV  CLV_margin  Index     CLV_AVG  CLV_margin_AVG
Orderdate
2014-04-30  840.000000  344.265075      1  840.000000      344.265075
2014-07-31  235.000000   96.312253      2  537.500000      220.288664
2014-09-30  219.000000   89.754823      3  431.333333      176.777384
2014-10-31  564.000000  231.149408      4  464.500000      190.370390
2014-11-30  675.251111  276.744494      5  506.650222      207.645211

# CLV per maand met churn per 6 maanden

In [197]:
df_transacties['CLV_churn_6M'] = (df_transacties['avg_order_value_month'] * df_transacties['purchase_frequency_month']) / df_churn_6_months['churn_rate_6_months']
df_transacties['CLV_margin_churn_6M'] = df_transacties['CLV_churn_6M'] * margin
df_transacties

,total_transactions,total_spent,total_unique_customers,purchase_frequency_month,avg_order_value_month,CLV,CLV_margin,CLV_churn_6M,CLV_margin_churn_6M
Orderdate,,,,,,,,,
2014-04-30,1,840.00,1,1.000000,840.000000,840.000000,344.265075,840.000000,344.265075
2014-05-31,0,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN
2014-06-30,0,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN
2014-07-31,1,235.00,1,1.000000,235.000000,235.000000,96.312253,NaN,NaN
2014-08-31,0,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-30,1,219.00,1,1.000000,219.000000,219.000000,89.754823,NaN,NaN
2014-10-31,3,1692.00,3,1.000000,564.000000,564.000000,231.149408,564.000000,231.149408
2014-11-30,9,6077.26,9,1.000000,675.251111,675.251111,276.744494,NaN,NaN
2014-12-31,57,56038.15,57,1.000000,983.125439,983.125439,402.923516,NaN,NaN
2015-01-31,776,401476.19,746,1.040214,517.366224,557.605819,228.528821,NaN,NaN
2015-02-28,687,337679.06,664,1.034639,491.527016,525.161835,215.231998,NaN,NaN
2015-03-31,834,418540.34,806,1.034739,501.846930,535.217826,219.353340,NaN,NaN
2015-04-30,817,393430.01,791,1.032870,481.554480,512.278659,209.951966,530.878094,217.574747
2015-05-31,896,423833.09,870,1.029885,473.028002,501.577621,205.566259,NaN,NaN
2015-06-30,1049,565137.91,1010,1.038614,538.739666,579.034744,237.311238,NaN,NaN
2015-07-31,842,462881.91,810,1.039506,549.740986,592.678502,242.902987,NaN,NaN
2015-08-31,901,488862.53,875,1.029714,542.577725,575.132388,235.711899,NaN,NaN
2015-09-30,1234,626150.51,1174,1.051107,507.415324,557.569466,228.513922,NaN,NaN
2015-10-31,1207,676739.83,1159,1.041415,560.679229,606.941552,248.748546,639.102316,261.929294
2015-11-30,1423,865054.80,1362,1.044787,607.909206,660.851642,270.843024,NaN,NaN
2015-12-31,1034,571760.56,979,1.056180,552.959923,607.609522,249.022307,NaN,NaN
2016-01-31,861,477845.17,833,1.033613,554.988583,591.392537,242.375948,NaN,NaN
2016-02-29,924,638571.35,889,1.039370,691.094535,745.994568,305.737948,NaN,NaN
2016-03-31,1094,711972.47,1035,1.057005,650.797505,721.350020,295.637642,NaN,NaN
2016-04-30,1154,731060.19,1104,1.045290,633.501031,687.733010,281.860067,727.843287,298.298838
2016-05-31,1368,845206.60,1287,1.062937,617.841082,689.964571,282.774649,NaN,NaN
2016-06-30,1423,879388.32,1342,1.060358,617.981954,688.097277,282.009358,NaN,NaN
2016-07-31,1022,609509.45,974,1.049281,596.388894,651.881765,267.166815,NaN,NaN
2016-08-31,1276,798291.89,1212,1.052805,625.620603,689.967061,282.775669,NaN,NaN
2016-09-30,1519,949944.53,1440,1.054861,625.374937,690.366664,282.939442,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2017-04-30,1134,774105.98,1070,1.059813,682.633139,758.927431,311.038344,813.503351,333.405705
2017-05-31,1666,1218660.12,1565,1.064537,731.488667,827.894103,339.303602,NaN,NaN
2017-06-30,1908,1164767.23,1800,1.060000,610.465005,679.560811,278.510778,NaN,NaN
2017-07-31,1319,969855.91,1242,1.061997,735.296368,823.307224,337.423718,NaN,NaN
2017-08-31,1717,1244974.39,1593,1.077841,725.087006,833.316191,341.525787,NaN,NaN
2017-09-30,1964,1251024.19,1809,1.085683,636.977693,737.632188,302.310715,NaN,NaN
2017-10-31,2116,1442784.16,1958,1.080695,681.845066,784.121826,321.363999,842.119372,345.133678
2017-11-30,2647,1831951.62,2470,1.071660,692.085992,782.885308,320.857226,NaN,NaN
2017-12-31,1545,952578.50,1445,1.069204,616.555663,700.940765,287.273125,NaN,NaN
2018-01-31,1755,1086268.02,1643,1.068168,618.956137,699.914961,286.852711,NaN,NaN
2018-02-28,1826,1239261.25,1717,1.063483,678.675383,761.216984,311.976693,NaN,NaN
2018-03-31,2333,1458730.28,2202,1.059491,625.259443,696.623820,285.503871,NaN,NaN
2018-04-30,2077,1167127.10,1949,1.065675,561.929273,632.932267,259.400565,673.436223,276.000681
2018-05-31,2473,1537594.10,2299,1.075685,621.752568,707.916252,290.131955,NaN,NaN
2018-06-30,2564,1609474.71,2405,1.066112,627.720246,705.909961,289.309697,NaN,NaN
2018-07-31,1994,1304263.62,1882,1.059511,654.094092,731.499506,299.797301,NaN,NaN
2018-08-31,2171,1287297.79,2035,1.066830,592.951538,668.032065,273.785844,NaN,NaN
2018-09-30,2417,1567386.89,2271,1.064289,648.484439,729.356394,298.918969,NaN,NaN
2018-10-31,3110,1993568.65,2856,1.088936,641.018859,745.538014,305.550834,790.706112,324.062499
2018-11-30,3810,2391473.71,3538,1.076880,627.683388,715.795783,293.361296,NaN,NaN
2018-12-31,2044,1260136.31,1922,1.063476,616.505044,692.382588,283.765647,NaN,NaN
2019-01-31,2195,1293376.11,2033,1.079685,589.237408,677.870079,277.817850,NaN,NaN
2019-02-28,2348,1452853.01,2184,1.075092,618.761929,707.673166,290.032328,NaN,NaN
2019-03-31,2755,1671194.43,2545,1.082515,606.604149,697.202516,285.741044,NaN,NaN
2019-04-30,2821,1558052.97,2628,1.073440,552.305200,628.754225,257.688239,673.533321,276.040476
2019-05-31,3469,1805894.81,3249,1.067713,520.580804,586.139179,240.222915,NaN,NaN
2019-06-30,3182,1719562.39,2992,1.063503,540.403014,603.991005,247.539296,NaN,NaN
2019-07-31,2615,1548840.07,2460,1.063008,592.290658,662.747142,271.619875,NaN,NaN
2019-08-31,2403,1205575.34,2233,1.076131,501.695938,574.630763,235.506313,NaN,NaN
2019-09-30,448,169923.82,433,1.034642,379.294241,405.546110,166.208764,NaN,NaN

# CLV per maand met churn per jaar

In [198]:
df_transacties['CLV_churn_Y'] = (df_transacties['avg_order_value_month'] * df_transacties['purchase_frequency_month']) / df_churn_year['churn_rate_year']
df_transacties['CLV_margin_churn_Y'] = df_transacties['CLV_churn_Y'] * margin
df_transacties

,total_transactions,total_spent,total_unique_customers,purchase_frequency_month,avg_order_value_month,CLV,CLV_margin,CLV_churn_6M,CLV_margin_churn_6M,CLV_churn_Y,CLV_margin_churn_Y
Orderdate,,,,,,,,,,,
2014-04-30,1,840.00,1,1.000000,840.000000,840.000000,344.265075,840.000000,344.265075,NaN,NaN
2014-05-31,0,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-06-30,0,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-07-31,1,235.00,1,1.000000,235.000000,235.000000,96.312253,NaN,NaN,NaN,NaN
2014-08-31,0,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-30,1,219.00,1,1.000000,219.000000,219.000000,89.754823,NaN,NaN,NaN,NaN
2014-10-31,3,1692.00,3,1.000000,564.000000,564.000000,231.149408,564.000000,231.149408,NaN,NaN
2014-11-30,9,6077.26,9,1.000000,675.251111,675.251111,276.744494,NaN,NaN,NaN,NaN
2014-12-31,57,56038.15,57,1.000000,983.125439,983.125439,402.923516,NaN,NaN,983.125439,402.923516
2015-01-31,776,401476.19,746,1.040214,517.366224,557.605819,228.528821,NaN,NaN,NaN,NaN
2015-02-28,687,337679.06,664,1.034639,491.527016,525.161835,215.231998,NaN,NaN,NaN,NaN
2015-03-31,834,418540.34,806,1.034739,501.846930,535.217826,219.353340,NaN,NaN,NaN,NaN
2015-04-30,817,393430.01,791,1.032870,481.554480,512.278659,209.951966,530.878094,217.574747,NaN,NaN
2015-05-31,896,423833.09,870,1.029885,473.028002,501.577621,205.566259,NaN,NaN,NaN,NaN
2015-06-30,1049,565137.91,1010,1.038614,538.739666,579.034744,237.311238,NaN,NaN,NaN,NaN
2015-07-31,842,462881.91,810,1.039506,549.740986,592.678502,242.902987,NaN,NaN,NaN,NaN
2015-08-31,901,488862.53,875,1.029714,542.577725,575.132388,235.711899,NaN,NaN,NaN,NaN
2015-09-30,1234,626150.51,1174,1.051107,507.415324,557.569466,228.513922,NaN,NaN,NaN,NaN
2015-10-31,1207,676739.83,1159,1.041415,560.679229,606.941552,248.748546,639.102316,261.929294,NaN,NaN
2015-11-30,1423,865054.80,1362,1.044787,607.909206,660.851642,270.843024,NaN,NaN,NaN,NaN
2015-12-31,1034,571760.56,979,1.056180,552.959923,607.609522,249.022307,NaN,NaN,659.570946,270.318144
2016-01-31,861,477845.17,833,1.033613,554.988583,591.392537,242.375948,NaN,NaN,NaN,NaN
2016-02-29,924,638571.35,889,1.039370,691.094535,745.994568,305.737948,NaN,NaN,NaN,NaN
2016-03-31,1094,711972.47,1035,1.057005,650.797505,721.350020,295.637642,NaN,NaN,NaN,NaN
2016-04-30,1154,731060.19,1104,1.045290,633.501031,687.733010,281.860067,727.843287,298.298838,NaN,NaN
2016-05-31,1368,845206.60,1287,1.062937,617.841082,689.964571,282.774649,NaN,NaN,NaN,NaN
2016-06-30,1423,879388.32,1342,1.060358,617.981954,688.097277,282.009358,NaN,NaN,NaN,NaN
2016-07-31,1022,609509.45,974,1.049281,596.388894,651.881765,267.166815,NaN,NaN,NaN,NaN
2016-08-31,1276,798291.89,1212,1.052805,625.620603,689.967061,282.775669,NaN,NaN,NaN,NaN
2016-09-30,1519,949944.53,1440,1.054861,625.374937,690.366664,282.939442,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2017-04-30,1134,774105.98,1070,1.059813,682.633139,758.927431,311.038344,813.503351,333.405705,NaN,NaN
2017-05-31,1666,1218660.12,1565,1.064537,731.488667,827.894103,339.303602,NaN,NaN,NaN,NaN
2017-06-30,1908,1164767.23,1800,1.060000,610.465005,679.560811,278.510778,NaN,NaN,NaN,NaN
2017-07-31,1319,969855.91,1242,1.061997,735.296368,823.307224,337.423718,NaN,NaN,NaN,NaN
2017-08-31,1717,1244974.39,1593,1.077841,725.087006,833.316191,341.525787,NaN,NaN,NaN,NaN
2017-09-30,1964,1251024.19,1809,1.085683,636.977693,737.632188,302.310715,NaN,NaN,NaN,NaN
2017-10-31,2116,1442784.16,1958,1.080695,681.845066,784.121826,321.363999,842.119372,345.133678,NaN,NaN
2017-11-30,2647,1831951.62,2470,1.071660,692.085992,782.885308,320.857226,NaN,NaN,NaN,NaN
2017-12-31,1545,952578.50,1445,1.069204,616.555663,700.940765,287.273125,NaN,NaN,777.335442,318.582672
2018-01-31,1755,1086268.02,1643,1.068168,618.956137,699.914961,286.852711,NaN,NaN,NaN,NaN
2018-02-28,1826,1239261.25,1717,1.063483,678.675383,761.216984,311.976693,NaN,NaN,NaN,NaN
2018-03-31,2333,1458730.28,2202,1.059491,625.259443,696.623820,285.503871,NaN,NaN,NaN,NaN
2018-04-30,2077,1167127.10,1949,1.065675,561.929273,632.932267,259.400565,673.436223,276.000681,NaN,NaN
2018-05-31,2473,1537594.10,2299,1.075685,621.752568,707.916252,290.131955,NaN,NaN,NaN,NaN
2018-06-30,2564,1609474.71,2405,1.066112,627.720246,705.909961,289.309697,NaN,NaN,NaN,NaN
2018-07-31,1994,1304263.62,1882,1.059511,654.094092,731.499506,299.797301,NaN,NaN,NaN,NaN
2018-08-31,2171,1287297.79,2035,1.066830,592.951538,668.032065,273.785844,NaN,NaN,NaN,NaN
2018-09-30,2417,1567386.89,2271,1.064289,648.484439,729.356394,298.918969,NaN,NaN,NaN,NaN
2018-10-31,3110,1993568.65,2856,1.088936,641.018859,745.538014,305.550834,790.706112,324.062499,NaN,NaN
2018-11-30,3810,2391473.71,3538,1.076880,627.683388,715.795783,293.361296,NaN,NaN,NaN,NaN
2018-12-31,2044,1260136.31,1922,1.063476,616.505044,692.382588,283.765647,NaN,NaN,770.011402,315.580992
2019-01-31,2195,1293376.11,2033,1.079685,589.237408,677.870079,277.817850,NaN,NaN,NaN,NaN
2019-02-28,2348,1452853.01,2184,1.075092,618.761929,707.673166,290.032328,NaN,NaN,NaN,NaN
2019-03-31,2755,1671194.43,2545,1.082515,606.604149,697.202516,285.741044,NaN,NaN,NaN,NaN
2019-04-30,2821,1558052.97,2628,1.073440,552.305200,628.754225,257.688239,673.533321,276.040476,NaN,NaN
2019-05-31,3469,1805894.81,3249,1.067713,520.580804,586.139179,240.222915,NaN,NaN,NaN,NaN
2019-06-30,3182,1719562.39,2992,1.063503,540.403014,603.991005,247.539296,NaN,NaN,NaN,NaN
2019-07-31,2615,1548840.07,2460,1.063008,592.290658,662.747142,271.619875,NaN,NaN,NaN,NaN
2019-08-31,2403,1205575.34,2233,1.076131,501.695938,574.630763,235.506313,NaN,NaN,NaN,NaN
2019-09-30,448,169923.82,433,1.034642,379.294241,405.546110,166.208764,NaN,NaN,NaN,NaN